<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sarcasm Detection</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">

</head>
<body>
    <div id="loading" class="loading">
        <p>Sarcasm Loading...😂</p>
    </div>

    <div id="smartphone" class="smartphone hidden">
        <div class="screen">
            <h1>Detect Sarcasm</h1>
            <textarea id="inputText" placeholder="Enter text or use speech input"></textarea>
            <button onclick="submitText()">Submit</button>
            <button onclick="startListening()">Listen</button>
        </div>
    </div>
    <p id="smartphone-result"></p>
    <script src="static/script.js"></script>
</body>
</html>
